body{
    background-color : lightblue;
}

img{
    width: 20%; 
    margin-left: 50px;
    height : auto;
}

h1{
    margin-left: 1000px;
    font-size: 800%;
}

p{
    font-size: 400%;
}

span{
color: darkgreen;
}