body{
    background-color : lightblue;
}

img{
    width: 20%; 

}

h1{
    font-size: 400%;
    display : inline;
}

p{
    font-size: 400%;
}

.flexbox{
    display: flex;
    flex-direction : column;
}
